<%= simple_form_for(@employee) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :fname %>
    <%= f.input :lname %>
    <%= f.input :gender :as => :radio %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
