<h1>New Contact</h1>
<%= simple_form_for(@contact) do |f| %>

<%= f.label :name %>
<%= f.text_field :name  %>
<%= f.label :email %>
 <%= f.text_field :email %>
<%= f.label :gender %>
 <%= f.input :gender, :as =>:radio  %>
<%= f.label :cell %>
  <%= f.text_field :cell %>
<%= f.label :address %>
<%= f.text_area :address %>
<%= f.button :submit %>



<%= render 'form', contact: @contact %>

<%= link_to 'Back', contacts_path %>
  <%end%>