<div id="menu">
			<ul>
			<li><%= link_to "Home", root_path  %></li>
				<li><%= link_to "homepage", principal_path  %></li>

				<li><%= link_to "Profile", profile_path %></li>

				<li><%= link_to "Students", students_path %></li>

				<li><%= link_to "Placement", placement_path %></li>

				<li><%= link_to "Principal", principal_path %></li>
			</ul>
		
</div>