<!DOCTYPE html>
<html>
  <head>
    <title>Projects</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <%= render partial: "homes/header"%>
  <%= render partial: "homes/menu"%>
  <%= render partial: "homes/button"%>	
  <%= render partial: "homes/title"%>
  <%= render partial: "homes/title"%>

	
<%= render partial: "homes/footer"%>
</body>

</html>
